@font-face {
    font-family:Comissioner ;
    src: url(fonts/Commissioner-VariableFont_wght.ttf);
}
header {
    height: auto;
    padding-top: 20px;
    background-color: #53b9fd;
    margin: 0 ;
    display: flex;
    padding-bottom: 1rem;
}

body {
    font-family: Comissioner;
    background: linear-gradient(to right, #3d3d3d, #9b9b9b);
    margin: 0 auto;
}

main {
    background-color:white;
    margin: 0 auto;
    max-width: 900px;
}

h4{
    margin-bottom: -3px;
    letter-spacing: 2px;
    margin-left: 10%;
    font-size: 1rem;
    color: #000000;    
}

strong{
    color:  #53b9fd;
    text-decoration: none; 
}

span{
    margin-left: 10px;
}

hr.linia{
    margin-bottom: 3px;
    border-top: 2px solid  #53b9fd;
    width: 90%;
    margin-top: 15px;
}

img{
    border-radius: 50%;
}

p{
    font-size: 1rem;

}
li{
    font-size: 1rem;
}

.foto {
    margin-top: 1%;
    margin-left: 7%;
    width: 150px;
    height: 150px;
}

.FlexC{
    width: 350px;
    display: flex;
    flex-direction: column;
}

.Presentacio{
    padding-left: 2%;
    margin-top: -7%;
    flex-basis: 30%;
}

.NOM{
    color: black;
    font-weight: 700;
    font-size: 5rem;
    text-transform: uppercase;
}

.COGNOM{ 
    color: white;
    font-weight: 200;
    font-size : 2.5rem;
    text-transform: uppercase;
}

.Soc{
    flex-basis: 70%;
    margin-top: -5%;
    padding-left: 2%;
}

.Titol{
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.Descripcio{
    margin-left: 1rem;
    color: white;
    font-weight: 400;
}
.about{
    text-align: justify;

}

.contacte{

    width: 5%;
    height: 5%;
}

.Flex{
    background-color: white;
    justify-content: space-between;
    display: flex;
    align-content: center;
    height: auto;
    width: auto;
}

.Esq{
    background-color: white;
    flex-basis: 50%;
    padding-right: 3%;
    height: auto;
    width: auto;
}

.dre{
    padding-left: 3%;
    background-color: white;
    flex-basis: 50%;
}

.Aptituts{

    margin-left: 10%;
    margin-top: 3%;
    margin-right: 3%;
}

.FormatDreta{
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 3%;
  
}

.MargEsq {
    margin-left: 10%
}

.llista {
    margin-top: 13px;
    font-size: 1rem;
}
@media only screen and (max-width: 600px) {
    .Aptituts {
        grid-template-columns: 1fr; /* Cambia a una sola columna en pantallas más pequeñas */
        margin-left: 5%; /* Puedes ajustar los márgenes según sea necesario */
        margin-right: 5%;
    }
}
