@font-face {
    font-family:Comissioner ;
    src: url(fonts/Commissioner-VariableFont_wght.ttf);
}

header {
    height: 200px;
    padding-top: 20px;
    background-color: #fd9a53; 
}

body {
    font-family: Comissioner;
    background: linear-gradient(to right, #3d3d3d, #9b9b9b);
    margin: 0 auto;
}

main {
    background-color:white;
    margin: 0 auto;
    max-width: 900px;
}

h4{
    margin-bottom: -3px;
    letter-spacing: 2px;
    margin-left: 10%;
    font-size: 20px;
    color: #000000;    
}

strong{
    color: #ff7613;
    text-decoration: none; 
}

span{
    margin-left: 10px;
}

hr.linia{
    border-top: 2px solid #ff7613;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 3px;
}

.capçal{
    margin-left: 25%;
    margin-top: -20%;
}  

.foto {
    margin-top: 1%;
    margin-left: 7%;
    width: 150px;
    height: 150px;
}

.NOM{
    color: black;
    font-weight: 700;
    font-size: 75px;
    text-transform: uppercase;
   
}

.COGNOM{ 
    color: white;
    font-weight: 200;
    font-size : 40px;
    text-transform: uppercase;
    display: block;
    margin-bottom: -5px;
}

.Titol{
    margin-top: -4%;
    margin-left: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.Descripcio{
    margin-top: -2%;
    margin-left: 10px;
    color: white;
    font-weight: 400;
}

.contacte{
    width: 20px;
    height: 20px;
}

.Esquerra{
    background-color: white;
    float: left;
    width: 400px;
}

.Dreta{
    background-color: white;
    float: right;
    width: 400px;
}

.Aptituts{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 10%;
    margin-top: 3%;
    grid-gap: 10px;
    margin-right: 3%;
}

.FormatDreta{
    margin-left: 10%;
    margin-top: 3%;
    margin-right: 3%;
}

.MargEsq {
    margin-left: 10%
}

.llista {
    margin-top: 13px;
}